@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

@media not all and (min-width: 640px) {
  html {
    font-size: 11px;
  }
}
